@font-face {
	font-family: KgNextToMeSketched;
	src: url("./fonts/KgNextToMeSketched-BOA5.ttf");
}

@font-face {
	font-family: KgNextToMeSolid;
	src: url("./fonts/KgNextToMeSolid-82Az.ttf");
}

body {
	background: linear-gradient(#1C294F 50%, #31486C) no-repeat center center fixed;
	background-size: cover;
	color: white;
	font-family: KgNextToMeSolid;
	text-shadow: 2px 1px #555B61;
}

button {
	align-self: center;
	display: block;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 15px;
	margin-bottom: 1em;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 1.25em;
	font-family: KgNextToMeSolid;
	cursor: pointer;
}

button:disabled {
	background-color: gray;
	cursor: not-allowed;
}

main {
	text-align: center;
}

footer {
	display: inline;
	text-align: center;
	margin-top: 1em;
	font-size: 1.25em;
}

.warning-container {
	background: rgb(144, 0, 0);
	width: 75%;
	margin: 1em auto;
	padding: 10px;
	border-radius: 10px;
}

.warning {
	text-shadow: none;
	font-family: KgNextToMeSketched;
}

.download {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.manual-install {
	color: gray;
	text-shadow: none;
	font-size: 0.75em;
	font-family: KgNextToMeSketched;
}

.avatar {
	position: relative;
	height: 3rem;
	top: 10px;
}