@font-face {
	font-family: KgNextToMeSketched;
	src: url("./fonts/KgNextToMeSketched-BOA5.ttf");
}

@font-face {
	font-family: KgNextToMeSolid;
	src: url("./fonts/KgNextToMeSolid-82Az.ttf");
}

body {
	background: linear-gradient(#1C294F 50%, #31486C) no-repeat center center fixed;
	background-size: cover;
	color: white;
	font-family: KgNextToMeSolid;
	text-shadow: 2px 1px #555B61;
}

main {
	text-align: center;
}

footer {
	display: inline;
	text-align: center;
	margin-top: 1rem;
	font-size: 1.25em;
}

.warning-container {
	background: rgb(144, 0, 0);
	width: 75%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 10px;
}

.warning {
	text-shadow: none;
	font-family: KgNextToMeSketched;
}

.avatar {
	position: relative;
	height: 3rem;
	top: 10px;
}